.container {
}
h1,
.h1,
h2,
.h2,
.h1,
.h2 {
  color: #3a3a3c;
  letter-spacing: 0.01em;
  line-height: 1.4;
}
.h1,
.h2,
h1,
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}
.title_page_h1,
.title_page_h2 {
  font-size: 2em;
}
.title_page_h2:hover {
  color: #e17100;
  text-decoration: none;
  cursor: pointer;
}
.focus\:ring-\[\#11BE86\] {
  --tw-ring-color: black;
}
